# 删除不需要的依赖
# sounddevice==0.4.6
# numpy==1.26.4
# scipy==1.12.0
# pygame==2.5.2
# baidu-aip==4.16.10
# requests==2.31.0
# websocket-client==1.7.0

# 只保留需要的依赖
SpeechRecognition==3.10.0
pywin32==306
translators==5.8.9
PyAudio==0.2.13